開始前ページ<br>
名前を入力し、開始ボタンを押してください
<br><br>

<%
sta=""
url=request.url
if(url.index("static_pages")==nil)
  sta="static_pages/"
end
%>


<form method="get" action="<%=sta%>q1">

<a class="btn btn02"><p>名前：<input type="text" name="name"></p></a>
<p><input type="submit" value="開始"></p>

</form>

<%

require "date"

url=request.url

if(url.index("text1=")!=nil)
  
  index_point=url.index("text1=")+6
  index_point2=url.index("&text2=")+7
  
  i=index_point
  text=""
  while(i<index_point2-7)
    text=text.to_s+url[i].to_s
    i=i+1
  end
  
  text=URI.unescape(text)

  i=index_point2
  ans=""
  while url[i]!="A" do
    ans=ans+url[i].to_s
    i=i+1
  end
  
  i=i+1
  name=""
  while url[i]!=nil do
    name=name+url[i].to_s
    i=i+1
  end
  name=URI.unescape(name)
  name=URI.unescape(name)

  
  nt=Trial.new
  
  nowTime=DateTime.now
  nt.timestamp=nowTime
  nt.name=name
  nt.answer=ans
  nt.text=text
  
  nt.save!

end

%>
