<%
url=request.url
index_point=url.index("name=")+5
i=index_point
name=""
while(url[i]!=nil)
  name=name.to_s+url[i].to_s
  i=i+1
end
%>



<a class="que">Q.阿氐河荘において、多くの村や田畑が失われ、人がいなくなったのはなぜでしょうか？</a>
<br><br>
<a href=<%="q4?1XXA"+name%> class="btn btn03">地頭の治め方が悪いために百姓が逃げて、土地や田畑が荒れた</a><br>
<br>
<a href=<%="q2?2A"+name%> class="btn btn03">洪水や台風などの災害が起きて、村やその田畑が減った</a><br>
<br>
<a href=<%="q3?3XA"+name%> class="btn btn03">地頭が攻め滅ぼして、村やその田畑が減った</a><br>
