<a class="que">Q.災害が起きて村やその田畑が減った場合、責任を問われるのは誰でしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="result?<%=ans+"1XXXXXXX"%>A<%=name%>">幕府</a><br><br>
<a class="btn btn03" href="q4?<%=ans+"2X"%>A<%=name%>">地頭</a><br><br>
<a class="btn btn03" href="q4?<%=ans+"3X"%>A<%=name%>">村人</a><br><br>
<a class="btn btn03" href="q4?<%=ans+"4X"%>A<%=name%>">誰も責任を問われない</a><br><br>

