<a class="que">Q.地頭が村を攻め滅ぼしたのはなぜでしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1


name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="q4?<%=ans+"1"%>A<%=name%>">その村が悪い村だったから</a><br><br>
<a class="btn btn03" href="q4?<%=ans+"2"%>A<%=name%>">略奪目的</a><br><br>



