<a class="que">Q.村の土地や田畑が荒れたため、地頭の指示のもと復興が行われました。どれだけの人が地頭に従ったでしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1


name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="result?<%=ans+"1XXXXX"%>A<%=name%>">すべて</a><br><br>
<a class="btn btn03" href="q5?<%=ans+"2"%>A<%=name%>">半々</a><br><br>
<a class="btn btn03" href="q5?<%=ans+"3"%>A<%=name%>">従う村人はいなかった</a><br><br>

