<a class="que">Q.地頭の指示に従わなかった村人は、なぜ従わなかったのでしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="q6?<%=ans+"1"%>A<%=name%>">地頭の悪行に耐えられず、復興どころではないから</a><br><br>
<a class="btn btn03" href="q6?<%=ans+"2"%>A<%=name%>">実は地頭の敵対勢力と裏取引をしていて、ストライキをすることで見返りを貰っている</a><br><br>
<a class="btn btn03" href="q6?<%=ans+"3"%>A<%=name%>">村人同士でも争っていて、そのうち地頭を信用していない派閥だから</a><br><br>


