<a class="que">Q.地頭の指示に従わなかった村人は、地頭の指示に従う村人にたいして、どのように接したでしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="q7?<%=ans+"1"%>A<%=name%>">対立し、時には傷つけ、殺すこともあった</a><br><br>
<a class="btn btn03" href="q7?<%=ans+"2"%>A<%=name%>">対立し、村八分にした</a><br><br>
<a class="btn btn03" href="q7?<%=ans+"3"%>A<%=name%>">それまで通りに接した</a><br><br>

