<a class="que">Q.地頭のいう「耳を切り、鼻を削ぎ……」とは、いかなる意図の言葉でしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="q8?<%=ans+"1"%>A<%=name%>">ある罪に対して定められた刑罰</a><br><br>
<a class="btn btn03" href="q8?<%=ans+"2"%>A<%=name%>">地頭が恐怖で押さえつけるための脅迫</a><br><br>

