<a class="que">Q.カタカナ書き訴状の内容を考えたのは誰でしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="q9?<%=ans+"1"%>A<%=name%>">村人</a><br><br>
<a class="btn btn03" href="q9?<%=ans+"2"%>A<%=name%>">阿氐河荘の外の人</a><br><br>


