<a class="que">Q.このカタカナ書き訴状による裁判について、「地頭が裁かれた」という記録が残っていません。それはなぜでしょうか？</a>
<br>
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1

name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<a class="btn btn03" href="result?<%=ans+"1"%>A<%=name%>">村人の訴えの正当性が認められず、裁判にならなかったから</a><br><br>
<a class="btn btn03" href="result?<%=ans+"2"%>A<%=name%>">地頭が申し開きをせず、裁判にならないまま自ら罰を受けたから</a><br><br>
<a class="btn btn03" href="result?<%=ans+"3"%>A<%=name%>">地頭が訴状をもみ消したから</a><br><br>

