<a class="btn btn01">[結果]
<%
url=request.url

i=0
while url[i]!="?" do
  i=i+1
end
i=i+1

ans=""
while url[i]!="A" do
  ans=ans+url[i].to_s
  i=i+1
end

i=i+1


name=""
while url[i]!=nil do
  name=name+url[i].to_s
  i=i+1
end

%>
<br>
<%
text=""
case ans[0]
when "1" then
  text=text+"阿氐河荘の地頭は統治者として優れているとは言い難く、多くの人がやっていられないとその土地を離れていきました。当然、田畑は手入れがされず、荒れていきました。"
when "2" then
  text=text+"阿氐河荘を突如自然災害が襲い、多くの人、田畑が失われました。"
when "3" then
  text=text+"阿氐河荘の地頭が村を武力で襲い、田畑も荒らされました。"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[1]
when "1" then
  text=text+"その被害についての責任は幕府が負い、阿氐河荘に充分な援助を行いました。まして、訴状が書かれるなんてことも起こりませんでした。"
when "2" then
  text=text+"その被害についての責任は地頭が負い、皆で復興しなければならなくなりました。"
when "3" then
  text=text+"その被害についての責任は村人が負い、皆で復興しなければならなくなりました。"
when "4" then
  text=text+"自然災害の責任など誰が取るわけでもなく、当事者である阿氐河荘の人々により復興されることになりました。"
else
  text=text+""
end

case ans[2]
when "1" then
  text=text+"不正や年貢の滞納を重ねた村々は地頭の手で裁かれ、終わってみれば残る村は少なくなっていました。阿氐河荘の民度が低すぎたのです。そして復興に人手が必要になり、これまで地頭に従ってきた村人への負担が増すことになってしまいました。"
when "2" then
  text=text+"地頭は私利私欲による略奪を重ね、終わってみれば残る村は少なくなってしまいました。大々的な立て直しが必要になるほど荒らすとは……。"
when "3" then
  text=text+"3"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[3]
when "1" then
  text=text+"残った村人たちは地頭に従い、力を合わせ復興に励みました。まして、訴状が書かれるなんてことも起こりませんでした。"
when "2" then
  text=text+"残った村人たちは、地頭に従うかどうかで分かれました。"
when "3" then
  text=text+"残った村人たちのうち、地頭に従う村人はいませんでした。"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[4]
when "1" then
  text=text+"「阿氐河荘は地頭の暴虐で荒れ放題。真面目に復興をする余裕なんてない！」そう言って、一部の村人は地頭から離れていったのです。"
when "2" then
  text=text+"宗教関係で地頭と対立する勢力が、これを期に地頭を陥れようと、報酬をちらつかせて村人に根回しをしていました。ただでさえ村人は貧しいため、次々に引き込まれていきました。"
when "3" then
  text=text+"そもそも村人たちも一枚岩ではありません。これまでも地頭をよく思っていなかった村人たちは、「地頭のやろうめ、とうとう天罰が下ったんだろうよ。いい気味だ」なんて思って、復興指示に無視を決め込みました。"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[5]
when "1" then
  text=text+"村人同士の対立は深まり、ちょっとしたケンカはもちろん、刃傷沙汰や、魔女狩りめいためちゃくちゃな村内裁判で死人まで出る始末。"
when "2" then
  text=text+"村人同士の対立は深まり、反地頭派は復興に手を貸さないどころか、地頭に従う村人に対して冷たく接し、日常生活の部分においても一切の手助けをしませんでした。"
when "3" then
  text=text+"地頭について思うところはあれど、同じ村人。復興指示に従わない村人たちも、日常生活の面では今まで通りに過ごし、助け合いました。"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[6]
when "1" then
  text=text+"復興に参加してくれない村人たちに対し、地頭は「従わなければ家のものには刵刑・劓刑が適用されるぞ」と警告しました。"
when "2" then
  text=text+"復興に参加してくれない村人たちに対し、地頭は「従わなければ家のものの耳を切り落とし、鼻も削いでやるぞ！」と脅しました。"
when "3" then
  text=text+"3"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[7]
when "1" then
  text=text+"そんな中、反地頭派の村人たちが地頭を訴えようと訴状を書きました。村人の視点で書かれたため、客観的とは言い切れない内容ですが、最後まで書き上げられました。"
when "2" then
  text=text+"そんな中、地頭の敵対勢力が村人をそそのかして訴状を書かせ、裁判を起こさせようと動き始めました。もちろん、訴状の内容は村人ではなくよそ者が整理した内容で、村人はそれに従って書いただけです。"
when "3" then
  text=text+"3"
when "4" then
  text=text+""
else
  text=text+""
end

case ans[8]
when "1" then
  text=text+"訴状は六波羅探題に提出されたものの、当時同じような村人の訴えが多くある中、阿氐河荘の訴状については村人の主張の正当性が認められず、起訴材料が不足であるとして裁判は起こりませんでした。そんなこともあって、訴状だけが現代に残り、裁判についての資料なんて見つかろうはずがありませんでした。"
when "2" then
  text=text+"訴状は受理され、地頭はなんと一切の弁解を行わないまま、阿氐河荘を去っていきました。そんなこともあって、裁判の記録が作られることはありませんでした。"
when "3" then
  text=text+"地頭は手をつくして訴状をもみ消しました。……しかしそうすると、今教科書に載っているこの訴状は一体なんなのでしょうか？地頭が訴状を抹消して罪を逃れたならば、訴状が残っているはずがありません。
"
when "4" then
  text=text+""
else
  text=text+""
end

%>
<%=text%>
</a>
<br><br>
今回の回答に対する以上の結果について、矛盾点や感想等を入力してください。
<form method="get" action="home">
<textarea name="text1" cols="50" rows="10"></textarea>
<!--<textarea name="text2" cols="1" rows="0" readonly><%#=ans+"A"+name%></textarea>-->
<input type="hidden" name="text2" value="<%=ans+"A"+name%>">
<p><input type="submit" value="今回の回答を終了する">
</form>
