<table>
  <thead>
    <tr>
      <th>リスト</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tr>
      <th>名前</th>
      <th>終了時刻</th>
      <th>回答</th>
      <th>記述</th>
      <th colspan="3"></th>
  </tr>
  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.name %></td>
        <td><%= trial.timestamp %></td>
        <td><%= trial.answer %></td>
        <td><%= trial.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>