<p id="notice"><%= notice %></p>

<h1>Listing Trials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Timestamp</th>
      <th>Answer</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <td><%= trial.name %></td>
        <td><%= trial.timestamp %></td>
        <td><%= trial.answer %></td>
        <td><%= trial.text %></td>
        <td><%= link_to 'Show', trial %></td>
        <td><%= link_to 'Edit', edit_trial_path(trial) %></td>
        <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial', new_trial_path %>
