<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trial.name %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @trial.timestamp %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @trial.answer %>
</p>

<p>
  <strong>Text:</strong>
  <%= @trial.text %>
</p>

<%= link_to 'Edit', edit_trial_path(@trial) %> |
<%= link_to 'Back', trials_path %>
