// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color: #cbe2ff;
}

.que{
  font-size: 20px;
background-color: #f3e89b;
color: #000000;
}


.que:hover{
background-color:#f3e89b;
color: #000000;
}

.btn {
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    border-radius: 5px;
}

.btn01 {
background-color: #daaa00;
color: #ffffff !important;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.btn01:hover {
background-color: #daaa00;
}

.btn02 {
background-color: #3266e9;
color: #ffffff !important;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.btn02:hover {
background-color: #3266e9;
}

.btn03 {
background-color: #44bb66;
color: #ffffff !important;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.btn03:hover {
background-color: #998bfa;
}